@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    box-sizing: border-box;
}
.container1{
    width: 100%;
    min-height: 40vh;
    padding-left: 2%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .navbar{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .nav-logo{
    /* position: absolute; */
    left: 0.7%;
    right: 88.67%;
    top: 0%;
    margin-left: 2%;
    bottom: 6.68%;
  }
  .menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  nav ul li a{
    text-decoration: none;
    color:#78A92D;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }
  nav ul li a:hover{
    color:#333;
  }

body{
    margin: 0;
}
.header{
    text-align: center;
    padding: 32px;
}
.header h1{
    font-family: "Pacifico";
    /* font-style: "Pacifico"; */
    font-size: 50px;
    color: #78A92D;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.08em;
    text-align: center; 
    height: 98px;
    margin-left: 0%;
    top: 75px;
}
.parent{
    display: flex;
}
.big_logo{
    height: 50vh;
    margin-left: 20%;
}
.green_img{
    height: 700px;
    position: absolute;
    /* margin-right:-70% ; */
    width: 450px;
left: 64.4%;
/* right: -12.2%; */
top: 1.58%;
bottom: 87.83%;
z-index: -1;
}
.rotate{
    height: 80vh;
    margin-left: -30%;
    margin-top: 0%;
}
.image_about{
    height: 40vh;
}

.description{
    font-size: 1.2rem;
    width: 50%;
    margin-left: 8vw;
}

@media only screen and (max-width:413px){
  
    nav ul{
      width: 100%;
      background: linear-gradient(#fcfffa,#c2f577);
      position:absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
    nav ul li{
      display:block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color:#333;
    }
    .menu-icon{
      margin-right: 1rem;
    display: block;
    }
    #menulist{
      overflow: hidden;
      transition: 0.5s;
    }
    .green_img{
        display: none;
    }
    .big_logo{
       margin-left: 5%;
       height: 30vh;
    }
    .rotate{
        display: none;
    }
    .food{
        /* display: none; */
        height: 30vh;
    }
    .description{
        margin-left:15%;
    }
    .btn1{
        width: 20vw;
        margin-top: 10%;
        margin-left: -40%;
        border-radius: 18px;
        border: 0px;
        background-color: #78A92D;
        position: absolute;
    }
    .about_us{
        display: flex;
    }
    .image_about{
        margin-left: -20%;
        height: 20vh;
    }
    .heading_about{
        font-family: pacifico;
        margin-left: 10%;
    }
    .about_description{
        margin-left: 10%;
    }


  }
